<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.chapter02">
    <!-- 对访问联系人进行授权 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- 访问外部存储-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:preserveLegacyExternalStorage="true"
        android:theme="@style/Theme.Chapter02">
        <activity android:name="cn.edu.gzy.qqdemo.QQMainActivity"
            android:exported="true">

        </activity>
        <activity
            android:name="cn.edu.gzy.qqdemo.QQContactActivity"
            android:exported="false" />
        <activity
            android:name="cn.edu.gzy.qqdemo.QQMessageActivity"
            android:exported="false" />
        <activity
            android:name="cn.edu.gzy.qqdemo.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".WidgetActivity"
            android:exported="false" />
        <activity
            android:name=".TableActivity"
            android:exported="false" />
        <activity
            android:name="cn.edu.gzy.qqdemo.ForgetPwdActivity"
            android:exported="false" />
        <activity
            android:name="cn.edu.gzy.qqdemo.QQLoginActivity"
            android:exported="false" />
        <activity
            android:name=".LinearActivity"
            android:exported="false" />
        <activity
            android:name=".ThirdActivity"
            android:exported="true">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.edu.gzy.qqdemo.DialogActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".SecondActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstActivity"
            android:exported="true"
            android:label="第一个Activity">
            <intent-filter>
                <action android:name="com.example.chapter02.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.chapter02.MY_CATEGORY" />
            </intent-filter>
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
            -->
        </activity>
    </application>

</manifest>